[app-theme='light'] {
    --primary-color: #E52521;

    //background-color
    --primary-bg: #F7F7F5;

    // text-color
    --primary-text: #111111;
    --secondary-text: #666666;
    --muted-text: #999999;

    --hover-color: #C91D1A;
    --border-color: #E5E5E3;
    --card-color: #FFFFFF;
}