
/***************** Breakpoints *******************/
$xs-min: 0;
$sm-min: 1024px;
$md-min: 1152px;
$lg-min: 1280px;
$xl-min: 1536px;
$max: 1800px;
$pre-failure-z-index: 10000;

/***************** Corner Radius *******************/

$radius-none: 0px;
$radius-xxs: 4px;
$radius-xs: 8px;
$radius-s: 12px;
$radius-sm: 16px;
$radius-md: 24px;
$radius-lg: 32px;
$radius-xl: 64px;
$radius-xxl: 128px;

/* =============== Spacing ==================== */

$sp-none: 0px;
$sp-1: 4px;
$sp-2: 8px;
$sp-3: 12px;
$sp-4: 16px;
$sp-5: 20px;
$sp-6: 24px;
$sp-7: 28px;
$sp-8: 32px;
$sp-10: 40px;
$sp-12: 48px;
$sp-16: 64px;
$sp-20: 80px;
$sp-24: 96px;
$sp-32: 128px;
$sp-40: 160px;
$sp-48: 192px;
$sp-56: 224px;
$sp-64: 256px;
